pytesseract==0.3.10
streamlit==1.19.0
streamlit-aggrid==0.3.4
deep_translator==1.9.1
click
spacy
spacy-legacy
spacy-loggers
spacy-streamlit
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
sumy==0.11.0
pyvis==0.3.2
pandas==1.3.5
matplotlib==3.5.3
